<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.hmCode">
	<insert id="insert">
		insert into hmcode set
			hmcIdx = #{hmcIdx}
			,hmcParent = #{hmcParent}
			,hmcNM = #{hmcNM}
	</insert>
	
	<select id="list" resultType="HmCodeVO">
		select
			*
		from
			hmcode
		where 1=1
			and hmcParent = #{hmcParent}
		order by hmcNM
	</select>
</mapper>
